@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-myLight-bg text-black;
}

.dark body {
  @apply bg-myDark-bg text-white;
}

.bgone {
  @apply bg-myLight-bg text-black dark:bg-myDark-bg dark:text-white !important;
}
.textone {
  @apply text-black dark:text-white !important;
}

.placewhite {
  @apply placeholder-white dark:placeholder-white !important;
}

.heroFormBg {
  @apply bg-white dark:bg-myDark-100 !important;
}
.heroFromLabel {
  @apply text-black dark:text-white !important;
}
.heroFromInputBg {
  @apply bg-white dark:bg-myDark-100 border 
  dark:border-black/40 dark:ring-offset-1
  placeholder:text-slate-500 focus:outline-none focus:ring-0 
  focus:ring-transparent focus:ring-offset-2 
  dark:ring-offset-transparent !important;
}
.cardBg {
  @apply bg-white dark:bg-myDark-100 !important;
}
.cardText {
  @apply text-slate-500 dark:text-slate-300 !important;
}
.cardBadge {
  @apply bg-slate-300 text-black dark:bg-myprimary dark:text-white !important;
}
.carouselPrev {
  @apply mx-2 bottom-0 left-[35%] md:left-[40%] lg:left-[45%] w-12 h-12 items-center justify-center
   bg-myprimary hover:bg-myprimary dark:bg-myprimary dark:hover:bg-myprimary text-white !important;
}
.carouselNext {
  @apply mx-2 bottom-0 right-[35%] md:right-[40%] lg:right-[45%] w-12 h-12 items-center justify-center
   bg-myprimary hover:bg-myprimary dark:bg-myprimary dark:hover:bg-myprimary text-white !important;
}
.serviceBg {
  @apply bg-myLight-100 dark:bg-myDark-100 !important;
}

